---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Курс по PHP">
<section class="px-6 py-8">
    <div class="max-w-xl mx-auto font-sans">
        <h1 class="font-black text-2xl sm:text-3xl">Практика с наставником по PHP — для тех, кто хочет начать работать разработчиком</h1>

        <p class="mt-4">
            3х месячная программа практики для тех, кто уже знает основы PHP, но не может самостоятельно писать проекты.
        </p>

        <p class="mt-2">
            За три месяца участник проходит путь от простых задач на чистом PHP до самостоятельной разработки проекта с использованием ООП и фреймворка Laravel.
        </p>
        <p class="mt-2">
            Цель программы — сформировать навык мышления разработчика, чтобы человек мог работать разработчиком и понимать, как устроены реальные проекты.
        </p>

        <h3 class="text-2xl font-black mt-4 md:mt-10">Результат — как меняется мышление ученика</h3>
        <p  class="mt-2">
            Когда человек приходит на программу, он обычно уже многое изучил — прошел видеокурсы, знает синтаксис, понимает, как работают массивы и функции. Но одно дело — знать, и совсем другое — уметь собрать все это в проект.
        </p>

        <p class="mt-8"><b>До:</b> человек знает основы, но пока не может писать сам.</p>
        <img class="mt-2 shadow-md" src="/solar-series/img/course/result-1.png" alt="">
        <figcaption class="mt-1 text-xs text-center text-gray-400 leading-relaxed max-w-md mx-auto">
            Первое сообщение перед стартом.
        </figcaption>

        <p class="mt-4 mb-2"><b>После:</b> Уже через 2 месяца — описывает архитектуру, подключает php-di и компоненты</p>
        <img src="/solar-series/img/course/result-2.png" alt="">
        <figcaption class="mt-1 text-xs text-center text-gray-400 leading-relaxed max-w-md mx-auto">
            Сообщение спустя два месяца практики.
        </figcaption>
        <p class="mt-4">Делаю так, чтобы ученик сам мог придумать решение и написать код. Не запоминать код с экрана, а понимать. Короче — вправляю мозги.</p>
        <img class="rounded-xl mt-4" src="/solar-series/img/course/result-3.png" alt="">

        <img class="block mx-auto my-8" src="/solar-series/img/course/divider.svg" alt="">

        <h3 class="text-2xl font-black">Чем я могу помочь</h3>
        <img class="mt-4" src="/solar-series/img/course/why-3.png" alt="">
        <p class="mt-2">Ко мне обращаются новички, кто знает основы, но дальше уже сами не справляются. Их цель — трудоустройство. </p>

        <img class="mt-4" src="/solar-series/img/course/why-2.png" alt="">
        <p class="mt-4">
            Я сам проходил этот путь и понимаю, что происходит в этот момент. Когда просто просмотр видеоуроков уже не помогает. Хочется, чтобы кто-то спокойно подошел, взял за руку и сказал: «делай вот это, а на вот это не обращай внимания». 
        </p>

        <img class="mt-4" src="/solar-series/img/course/why-1.png" alt="">
        <p class="mt-4">
            Хочется самостоятельно уметь писать код. Понимать ООП на практике. Использовать Laravel. Писать API. Спокойно читать документацию. Быть разработчиком. Работать.
        </p>

        <img class="mt-4" src="/solar-series/img/course/why-4.png" alt="">
        <p class="mt-4">
            А для этого надо — 
            <span class="relative inline-block">
                <b class="relative z-10 font-bold">развивать навык!!1</b>
                <img src="/solar-series/img/course/highlighter.svg" alt="" class="block dark:hidden absolute left-0 bottom-0 w-full translate-y-1" />
                <img src="/solar-series/img/course/highlighter-white.svg" alt="" class="hidden dark:block absolute left-0 bottom-0 w-full translate-y-1" />
            </span>
            Смотреть и повторять за видео уже не пойдет. Нужна самостоятельная практика под присмотром наставника. Вот об этом мое обучение.
        </p>

        <img class="block mx-auto my-8" src="/solar-series/img/course/divider.svg" alt="">

        <h3 class="text-2xl font-black">Как проходит обучение</h3>
        <p class="mt-2">
            Формат построен вокруг практики: ученик получает задачи, пишет код, сдаёт отчёты и получает подробную обратную связь. Наставник объясняет логику решений, помогает разобраться в архитектуре и корректирует мышление.
        </p>
        <h3 class="text-xl font-black mt-4">Начинаем с созвона.</h3>
        <img class="mt-2" src="/solar-series/img/course/how-1.png" alt="">
        <figcaption class="mt-1 text-xs text-center text-gray-400 leading-relaxed max-w-md mx-auto">
            Созвон в телеграм с учеником.
        </figcaption>
        <p class="mt-2">
            Диагностирую текущий опыт. Определяю пробелы, затыки и то, что сейчас непонятно. Выстраиваю план обучения. 
        </p>
        <img class="mt-8" src="/solar-series/img/course/how-2.png" alt="">
        <p class="mt-2">
            Я пишу индивидуальный план для каждого ученика отдельно. Потому что, у всех разный уровень подготовки, количество свободного времени и успеваемость разная. 
        </p>

        <img class="block mx-auto my-8" src="/solar-series/img/course/divider.svg" alt="">

        <h3 class="text-xl font-black mt-4">Знакомство с базой знаний</h3>
        <p class="mt-2">
            Выдаю доступы на платформе. Это — база знаний. Там все необходимые материалы: уроки, верстка для мини-проектов, шаблоны для отчетов.
        </p>
        <img class="mt-2" src="/solar-series/img/course/platform.png" alt="">
        <p class="mt-2">
            Тут можно изучить точечные темы, освежить память или изучить новое, чтобы потом применить в проекте.
        </p>
        <img class="mt-8" src="/solar-series/img/course/lesson.png" alt="">
        <p class="mt-4">
            Обычно, новички-самоучки строят свое обучение вокруг видеокурса, и конкретных тем. Они много знают, но применить не могут. А мы делаем наоборот: ставим в центр на практику и общение с наставником.
        </p>

        <img class="block mx-auto my-8" src="/solar-series/img/course/divider.svg" alt="">

        <h3 class="text-xl font-black mt-4">Практика</h3>
        <p class="mt-2">
            Ученик уже ознакомился с планом и приступает к практике. Вот некоторые примеры задач. 
        </p>
        <img class="mt-2" src="/solar-series/img/course/task-1.png" alt="">
        <figcaption class="mt-1 text-xs text-center text-gray-400 leading-relaxed max-w-md mx-auto">
            Скриншот мини-проекта. 
        </figcaption>
        <p class="mt-2">
            Каждая задача — это мини проект с готовой версткой, техническим заданием — прямо как на работе. Ученики учатся писать сразу на практике. А если есть пробел в некоторых темах — идут в базу знаний.
        </p>
        <img class="mt-8" src="/solar-series/img/course/task-2.png" alt="">
        <figcaption class="mt-1 text-xs text-center text-gray-400 leading-relaxed max-w-md mx-auto">
            Скриншот мини-проекта. 
        </figcaption>
        <p class="mt-2">
            Я готовлю учеников к работе с коммерческими проектами. Для этого я подбираю практику которая дает именно этот опыт: написание админок, апи, проектирование архитектуры, ооп и ларавел. Конечно, можно решать и олимпиадные задачи — они тоже дают опыт. Но нужен ли он в коммерческой разработке?
        </p>

        <img class="block mx-auto my-8" src="/solar-series/img/course/divider.svg" alt="">

        <h3 class="text-xl font-black mt-4">Система отчетности</h3>
        <p class="mt-2">
             Лучшее обучение — когда рядом живой человек. Он показывает код, объясняет, замечает по лицу, где ученик запутался, и сразу помогает. Онлайн не дает такого — там нет этой живой связи и мгновенной обратной связи. 
        </p>
        <p class="mt-2">
            Чтобы компенсировать это, я внедрил систему отчетов. После каждого занятия ученик пишет, что изучал, что пробовал, что получилось и где было трудно. Так я вижу не только результат, но и сам процесс — как человек понимает материал и где сомневается. 
        </p>
        <img class="mt-4" src="/solar-series/img/course/review-1.png" alt="">
        <figcaption class="mt-1 text-xs text-center text-gray-400 leading-relaxed max-w-md mx-auto">
            Пример отчета ученика
        </figcaption>
        <p class="mt-2">
            Наставник понимает правильно ли вы идете, 
и сможет если что, подправить вас. 
        </p>
        <img class="mt-2" src="/solar-series/img/course/review-2.png" alt="">
        <figcaption class="mt-1 text-xs text-center text-gray-400 leading-relaxed max-w-md mx-auto">
            Пример ответа наставника
        </figcaption>
        <p class="mt-4">
            В итоге, все отчеты отображают весь путь ученика, и превращаются в подробный дневник обучения:
        </p>
        <img class="mt-2" src="/solar-series/img/course/promo/mobile.gif" alt="">
        <figcaption class="mt-1 text-xs text-center text-gray-400 leading-relaxed max-w-md mx-auto">
            Отчеты ученика за 2 месяца обучения.
        </figcaption>
        <p class="mt-2">
            Через систему отчетов мы видим всё: статистику занятий, регулярность, сколько времени заняла каждая тема. Это позволяет понимать состояние ученика и его прогресс без личного присутствия. Так я частично решил проблему офлайна в онлайне. 
        </p>
        <p class="mt-2">
            Да, здесь нет мгновенной реакции, как при живом обучении. Зато есть главное — связь между наставником и учеником. Наставник видит, как ученик думает, и может направлять его, даже не находясь рядом.
        </p>
        <img class="mt-2" src="/solar-series/img/course/stats-1.png" alt="">
        <figcaption class="mt-1 text-xs text-center text-gray-400 leading-relaxed max-w-md mx-auto">
            Наставник видит сводку данных по каждому ученику
        </figcaption>
        <img class="mt-6" src="/solar-series/img/course/stats-2.png" alt="">
        <figcaption class="mt-1 text-xs text-center text-gray-400 leading-relaxed max-w-md mx-auto">
            Количество часов на каждую тему, урок, практику.
        </figcaption>
        
        <img class="block mx-auto my-8" src="/solar-series/img/course/divider.svg" alt="">

        <h3 class="text-2xl font-black">Созвоны, разборы и экзамены</h3>
        <p class="mt-2">
            Чтобы перейти на следующий уровень, ученик сдает экзамен. Для этого организуем созвон. На нем наставник задает вопросы ученику, и просит решить специальные задачи. 
        </p>
        <img class="mt-2" src="/solar-series/img/course/call.png" alt="">

        <h3 class="text-2xl font-black mt-10">Чат группы</h3>
        
        <img class="mt-4" src="/solar-series/img/course/chat.png" alt="">

        <h3 class="text-2xl font-black mt-10">Итого</h3>
        <p class="mt-2">
            Если вы знаете основы, но не понимаете, что делать дальше — приходите на наставничество. За три месяца практики я помогу развить навыки программирования и подготовиться к работе. 
        </p>
        <p class="mt-2">
            Но это не значит, что через три месяца вы сразу получите предложение о работе. Результат всегда индивидуален и зависит от многих факторов. Один из них — хорошее обучение. Если вы понимаете это и ищете именно такое обучение, то вам ко мне.
        </p>
        <p class="mt-2">
            Если вы ещё не знакомы с PHP или HTML — приходить пока рано. А если вы уже уверенно работаете с ООП, фреймворками, понимаете паттерны и вам легко учиться самому — мое обучение вам не нужно.
        </p>

        <img class="block mx-auto my-8" src="/solar-series/img/course/divider.svg" alt="">

        <h3 class="text-2xl font-black">Программа</h3>
        <p class="mt-2">
            Уровень 1. Базовый PHP. Напишем проект на чистом PHP. 
        </p>
        <p class="mt-2">
            Уровень 2. Мышление ООП. Далее, изучим ООП и перепишем проект. Увидим как применяется ООП на практике. Разработка проекта на собственных компонентов.
        </p>
        <p class="mt-2">
            Уровень 3. Разработка проекта на готовых компонентах. Изучим MVC, Front Controller, Composer, PSR, SOLID.
        </p>
        <p class="mt-2">
            Уровень 4. Разработка проекта на Laravel. Перепишем проект на фреймворке. Изучим слои, TDD, DDD, паттерны.
        </p>

        <img class="block mx-auto my-8" src="/solar-series/img/course/divider.svg" alt="">
        
        
        <h3 class="text-2xl font-black">Результаты после обучения</h3>
        <img class="mt-4" src="/solar-series/img/course/testimonial-1.png" />
        <img class="mt-4" src="/solar-series/img/course/testimonial-2.png" />
        <img class="mt-4" src="/solar-series/img/course/testimonial-13.png" />
        <img class="mt-4" src="/solar-series/img/course/testimonial-3.png" />
        <img class="mt-4" src="/solar-series/img/course/testimonial-4.png" />
        <img class="mt-4" src="/solar-series/img/course/testimonial-5.png" />
        <img class="mt-4" src="/solar-series/img/course/testimonial-6.png" />
        <img class="mt-4" src="/solar-series/img/course/testimonial-7.png" />
        <img class="mt-4" src="/solar-series/img/course/testimonial-8.png" />
        <img class="mt-4" src="/solar-series/img/course/testimonial-9.png" />
        <img class="mt-4" src="/solar-series/img/course/testimonial-10.png" />
        <img class="mt-4" src="/solar-series/img/course/testimonial-11.png" />
        <img class="mt-4" src="/solar-series/img/course/testimonial-12.png" />
    
        <img class="block mx-auto my-8" src="/solar-series/img/course/divider.svg" alt="">

        <h3 class="text-2xl font-black">Тарифы</h3>
        <p class="mt-6 font-black text-lg">
            Обучение в мини-группе
        </p>
        <ul class="list-disc mt-2 pl-6">
            <li>3 месяца доступа и менторства.</li>
            <li>Полная программа: PHP, ООП и Laravel.</li>
            <li>4 дипломных проекта.</li>
            <li>100+ часов практики.</li>
            <li>Индивидуальный план обучения.</li>
            <li>Чат с группой и наставником.</li>
            <li>Созвоны.</li>
            <li>Экзамен и разбор кода.</li>
            <li class="list-none font-black">
                Стоимость — 10 000 ₽ в месяц <br>
                (или 25 000 ₽ при оплате сразу за 3 месяца — скидка 5 000 ₽) <br>
                Программа рассчитана примерно на 3 месяца. Если понадобится больше времени — можно продлить обучение по той же помесячной ставке.
            </li>
        </ul>

        <p class="mt-6 font-black text-lg">
            Индивидуально
        </p>
        <ul class="list-disc mt-2 pl-6">
            <li>Все фичи из тарифа с группой</li>
            <li>+1 месяц к длительности обучения</li>
            <li>Веду лично до конца программы</li>
            <li>Доп. созвон по подготовке к собеседованиям, работе и фрилансу.</li>
            <li class="list-none font-black">Стоимость: $860 или ~(₽85.000, 425.000KZT)</li>
        </ul>
        <h3 class="mt-12 font-black text-lg">Какой тариф выбрать?</h3>
        <p class="mt-2">
            Если нет спешки и можете уделять в день по 2 часа — берите обучение в мини группе.
        </p>
        <p class="mt-2">
            А если вам нужен результат как можно скорее — берите тариф подороже. Нагрузки будет в разы больше, готовьтесь заниматься усиленно. Вести буду лично вас.
        </p>

        <h3 class="mt-6 font-black text-lg">Записаться</h3>
        <p class="mt-2">
            Для записи, напишите мне в телеграм: <a class="text-sky-500 hover:text-sky-600 underline decoration-[0.5px] underline-offset-4" href="https://t.me/ripplez">https://t.me/ripplez</a> <br>
            Опишите кратко свою ситуацию, и какой выбрали тариф.
        </p>
    </div>
</section>


</BaseLayout>
