---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout title="Оферта">
    <section class="max-w-xl mx-auto py-2 mt-10">
        <h3 class="font-bold text-xl">Публичная оферта</h3>
        <h4 class="font-bold text-md mt-4">1. Общие положения</h4>
        <p>1.1. Настоящая публичная оферта (далее - Оферта) представляет собой официальное предложение ИП Муратов (далее - Исполнитель) заключить Договор по оказанию информационных услуг, перечень которых публикуется в сети Интернет на сайте https://marlindev.ru (далее - Сервис).</p>
        <p>1.2. В соответствии со статьёй 395 Гражданского кодекса Республики Казахстан данный документ является публичной офертой и, в случае принятия изложенных ниже условий и оплаты услуг Исполнителя, физическое или юридическое лицо, совершившее акцепт этой Оферты, становится Заказчиком.</p>
        <p>1.3. Осуществляя оплату услуг, Заказчик гарантирует, что уже ознакомлен и принимает все условия Оферты в том виде, в каком они изложены в тексте настоящей Оферты, а также ознакомлен со стоимостью Услуги, указанными на Сайте Исполнителя.</p>
        <p>1.4. Администрация сайта оставляет за собой право в любое время изменять, добавлять или удалять пункты настоящей Оферты без личного уведомления Пользователя.</p>
        <p>1.5. Продолжение использования Сайта Пользователем означает принятие изменений, внесенных в настоящую Оферту.</p>
        <p>1.6. Пользователь несет персональную ответственность за проверку настоящей Оферты на наличие изменений в ней.</p>
        <h4 class="font-bold text-md mt-4">2. Определения терминов</h4>
        <p>2.1. Акцепт оферты – полное и безоговорочное принятие оферты путем осуществления Заказчиком действий по внесению оплаты за оказание информационных услуг или заполнения формы на сайте Исполнителя.</p>
        <p>2.2. Договор оферты – договор между Исполнителем и Заказчиком на оказание информационных услуг, который заключается посредством акцепта Оферты.</p>
        <p>2.3. Заказчик – физическое или юридическое лицо, осуществившее акцепт оферты, и являющееся таким образом Заказчиком.</p>
        <p>2.4. Оферта – настоящий документ на оказание информационных услуг Исполнителем, опубликованный в сети Интернет по адресу https://marlindev.ru.</p>
        <p>2.5. Сервис – совокупность программ и действий, с помощью которых пользователь получает материалы и услуги.</p>
        <p>2.6. Подписка – предоставление Пользователю права доступа к закрытым материалам на Сервисе за определенную плату на оговоренный срок.</p>
        <p>2.7. Администрация сайта – уполномоченные сотрудники на управления Сайтом, действующие от имени ИП Муратов.</p>
        <h4 class="font-bold text-md mt-4">3. Предмет соглашения</h4>
        <p>3.1. Исполнитель предоставляет Заказчику доступ к закрытым материалам на сайте marlindev.ru.</p>
        <p>3.2. Все услуги предоставляются на условиях настоящей Оферты, включая последующие модификации и дополнения.</p>
        <h4 class="font-bold text-md mt-4">4. Порядок оплаты</h4>
        <p>4.1. Оплата доступа к Сервису осуществляется с использованием банковских карт стран СНГ. Стоимость услуг указана на Сайте Исполнителя.</p>
        <p>4.2. Возврат оплаченных денежных средств возможен в течение 14 (четырнадцати) календарных дней с момента оплаты услуги, в соответствии с законодательством Республики Казахстан.</p>
        <h4 class="font-bold text-md mt-4">5. Права и обязанности сторон</h4>
        <p>5.1. Исполнитель обязуется:</p>
        <p>предоставить доступ к материалам после оплаты;</p>
        <p>соблюдать конфиденциальность данных Заказчика.</p>
        <p>5.2. Заказчик обязуется:</p>
        <p>предоставить корректные данные при регистрации;</p>
        <p>не распространять материалы, полученные на Сервисе.</p>
        <h4 class="font-bold text-md mt-4">6. Ответственность сторон</h4>
        <p>6.1. Исполнитель не несет ответственности за невозможность доступа к Сервису по причинам, не зависящим от него (технические сбои, проблемы у провайдеров и т.д.).</p>
        <p>6.2. Заказчик несет ответственность за нарушение авторских прав и неправомерное использование материалов Сервиса.</p>
        <h4 class="font-bold text-md mt-4">7. Прочие условия</h4>
        <p>7.1. Настоящий Договор действует до момента выполнения сторонами своих обязательств.</p>
        <p>7.2. Споры и разногласия решаются в соответствии с законодательством Республики Казахстан.</p>
        <h4 class="font-bold text-md mt-4">Юридическое лицо</h4>
        <h3>Юридическое лицо</h3>
        <p>ИП «Муратов»</p>
        <p>Руководитель: Муратов Рахим Кадырбекович</p>
        <p>Email: rahim@marlindev.ru</p>

    </section>
</BaseLayout>