---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout title="Политика конфиденциальности">
    <section class="max-w-xl mx-auto py-2 mt-10">
        <div class="">
            <h3 class="font-bold text-xl">Политика конфиденциальности</h3>
            <h4 class="font-bold text-md mt-4">1. Общие положения</h4>
            <p>1.1. Настоящая Политика конфиденциальности регулирует обработку персональных данных пользователей сайта в соответствии с Законом Республики Казахстан "О персональных данных и их защите".</p>
            <p>1.2. Используя сайт, пользователь выражает согласие с условиями настоящей Политики конфиденциальности.</p>
            <p>1.3. Если пользователь не согласен с условиями данной Политики, он должен прекратить использование сайта.</p>
            <h4 class="font-bold text-md mt-4">2. Обработка данных</h4>
            <p>2.1. Собираемые данные:</p>
            <ul>
            <li>ФИО;</li>
            <li>email;</li>
            <li>данные о браузере и устройстве.</li>
            </ul>
            <p>2.2. Цели обработки:</p>
            <ul>
            <li>выполнение договорных обязательств;</li>
            <li>отправка уведомлений и предложений;</li>
            <li>поддержка клиентов и обратная связь;</li>
            <li>обеспечение безопасности и предотвращение мошенничества;</li>
            <li>аналитика и улучшение работы сайта.</li>
            </ul>
            <p>2.3. Хранение данных осуществляется на защищённых серверах с соблюдением требований безопасности.</p>
            <h4 class="font-bold text-md mt-4">3. Права пользователя</h4>
            <p>3.1. Пользователь вправе:</p>
            <ul>
            <li>запрашивать информацию о своих данных;</li>
            <li>требовать исправления или удаления данных;</li>
            <li>отозвать согласие на обработку данных;</li>
            <li>получить копию своих данных.</li>
            </ul>
            <p>3.2. Для реализации прав необходимо направить запрос на email: rahim@marlindev.ru</p>
            <h4 class="font-bold text-md mt-4">4. Передача данных третьим лицам</h4>
            <p>4.1. Данные передаются третьим лицам только в следующих случаях:</p>
            <ul>
            <li>для выполнения обязательств (например, курьерские службы);</li>
            <li>при использовании платёжных систем для обработки транзакций;</li>
            <li>в случаях, предусмотренных законодательством Республики Казахстан.</li>
            </ul>
            <p>4.2. Третьи лица обязаны соблюдать конфиденциальность данных и обеспечивать их безопасность.</p>
            <h4 class="font-bold text-md mt-4">5. Защита данных</h4>
            <p>5.1. Администрация сайта принимает все необходимые организационные и технические меры для защиты персональных данных.
            5.2. Используются средства шифрования и протоколы безопасного соединения для передачи данных.</p>
            <h4 class="font-bold text-md mt-4">6. Срок хранения данных</h4>
            <p>6.1. Данные хранятся до достижения целей обработки, но не более 5 лет, если иное не предусмотрено законодательством.
            6.2. По истечении срока хранения данные удаляются или обезличиваются.</p>
            <h4 class="font-bold text-md mt-4">7. Изменения в Политике конфиденциальности</h4>
            <p>7.1. Администрация сайта оставляет за собой право вносить изменения в Политику конфиденциальности без предварительного уведомления.
            7.2. Актуальная версия Политики доступна на сайте и вступает в силу с момента её публикации.</p>
            <h4 class="font-bold text-md mt-4">8. Контактная информация</h4>
            <p>8.1. По вопросам, связанным с обработкой данных, можно обратиться по email: rahim@marlindev.ru.</p>
            <h3>Юридическое лицо</h3>
            <p>ИП «Муратов»</p>
            <p>Руководитель: Муратов Рахим Кадырбекович</p>
            <p>Email: rahim@marlindev.ru</p>
        </div>
    </section>
</BaseLayout>