---
---
<!-- Мобильное меню -->
<div id="mobile-menu" class="hidden md:hidden absolute bg-white dark:bg-gray-900 top-full left-0 w-full border-t border-gray-200 shadow-md">
    <ul class="flex flex-col gap-4 px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-300">
    <li><a href="/solar-series/" class="hover:text-gray-600 transition">Главная</a></li>
    <li><a href="/solar-series/learn" class="hover:text-gray-600 transition">Курс</a></li>
    <li><a href="/solar-series/contacts" class="hover:text-gray-600 transition">Контакты</a></li>
    <li><a href="https://course.marlindev.ru" class="hover:text-gray-600 transition">Войти</a></li>
    </ul>
</div>